:root {
    /* Fonts */
    --font-family0: "Montserrat";
    --font-family1: "Roboto";

    /* Constants */
    --transition-duration0: 0.2s;
    --font-size0: 14px;
    --font-size1: 12px;
    --depth0: 4px;
    --padding: 8px;
    --border-radius: 10px;
    --border-width: 2px;
    --distance-minor: 5px;
    --distance-major: 10px;
    --distance-major-double: calc(var(--distance-major) * 2);
    --max-width: 600px;

    /* Colors */
    --cyan0: #00b1ff;
    --cyan1: #009de6;

    --dark-blue0: rgb(20, 20, 50);
    --dark-blue1: rgb(30, 30, 60);
    --dark-blue2: rgb(40, 40, 70);
    --dark-blue3: rgb(45, 45, 75);
    --dark-blue4: rgb(50, 50, 80);
    --dark-blue5: rgb(60, 60, 90);
    --dark-blue6: rgb(70, 70, 100);
    --dark-blue7: rgb(90, 90, 120);

    --blue0: rgb(90, 90, 250);
    --blue1: rgb(70, 70, 230);
    --blue2: rgb(60, 60, 220);
    --blue3: rgb(40, 40, 200);

    --blue-tint0: rgb(180, 180, 255);

    --red0: rgb(255, 50, 70);
    --red1: rgb(200, 30, 50);

    --green0: rgb(20, 230, 100);
    --green1: rgb(10, 220, 80);
    --green2: rgb(0, 210, 60);
    --green3: rgb(70, 255, 150);

    --gold1: rgb(255, 200, 100);
    --gold0: rgb(230, 180, 80);
    --gold2: rgb(250, 190, 90);

    --gray0: rgb(220, 220, 230);
    --gray1: rgb(230, 230, 230);
    --gray2: rgb(210, 210, 210);
    --gray3: rgb(150, 150, 150);

    --white0: rgb(255, 255, 255);

    --off-white0: rgb(228, 235, 245);
    --off-white1: rgb(239, 238, 238);

    --dirt0: rgb(150, 120, 80);

    /* Alpha colors */
    --drop-shadow-color0: rgba(0, 0, 0, 0.2);

    --dark-blue0-translucent0: rgba(20, 20, 50, 0.1);

    --white0-translucent0: rgba(255, 255, 255, 0.1);

    /* Gradients */
    --focus-gradient: linear-gradient(45deg, var(--blue0), var(--cyan0));

    /* CSS constants */
    --box-shadow0: 0px 0px var(--depth0) var(--drop-shadow-color0);
    --box-shadow0-inner: inset 0 0 var(--depth0) var(--drop-shadow-color0);