* {
    -webkit-transition-duration: var(--transition-duration0);
    -moz-transition-duration: var(--transition-duration0);
    -o-transition-duration: var(--transition-duration0);
    transition-duration: var(--transition-duration0);
}

*:focus {
    outline: none;
    scroll-behavior: smooth;
}

body {
    padding: 40px var(--distance-major) var(--distance-major) var(--distance-major);
    margin: 0px;
    background-color: var(--off-white1);
}
