button,
input[type="button"],
input[type="submit"],
input[type="image"] {
    cursor: pointer;
}

button.clean {
    background: none;
    border: none;
    padding: 0px;
}

input {
    margin: 0px;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    height: 30px;
    /* 32 (font-size + 20) - 1px border (two of 'em) */
    cursor: text;
    font-size: var(--font-size1);
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

input::-webkit-input-placeholder {
    font-weight: lighter;
    color: white;
}

input:-moz-placeholder {
    font-weight: lighter;
    color: white;
}

input::-moz-placeholder {
    font-weight: lighter;
    color: white;
}

input:-ms-input-placeholder {
    font-weight: lighter;
    color: white;
}

input::placeholder {
    font-weight: lighter;
    color: white;
}

input.clean {
    background: none;
    border: none;
}

input.translucent {
    background-color: var(--dark-blue0-translucent0);
    border: 1px solid var(--dark-blue7);
    color: white;
}

input.borderless {
    border: none;
}
