body {
    overflow: hidden;
}

header {
    width: 600px;
    max-width: 100%;
    background: linear-gradient(45deg, var(--cyan0), var(--blurple0));
    height: 60px;
    display: block;
    margin: auto;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

#logoContainer {
    width: 60px;
    width: 60px;
}

#logo {
    width: 60px;
    height: 60px;
}
